.navigation-button {
	color: #ffed00;
}

#navigation-container {
	margin: 0 auto;                       
}
#navigation-container .navbar-nav { 
	background: #E60B0F;
 }

.navbar-custom {
    background-color: #E60B0F;
}

.navbar-toggle .icon-bar {
    background-color: rgb(136, 136, 136);
}

.navigation-item {
	background-color: transparent;
	font-family: "Trebuchet MS", sans-serif, Arial, Helvetica;
	border-bottom: 3px solid transparent;
	text-decoration-style: solid;
	color: #ffed00;
	padding: 5px 15px;
	font-size: 16px;
}

.navbar-light .navbar-nav .nav-link a:hover {
	text-decoration: white;
	color: white;
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
	font-family: "Trebuchet MS", sans-serif, Arial, Helvetica;
	text-decoration-style: solid;
	border-bottom: 3px solid white;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: white;
	font-family: "Trebuchet MS", sans-serif, Arial, Helvetica;
	text-decoration-style: solid;
	border-bottom: 3px solid white;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffed00;
	font-family: "Trebuchet MS", sans-serif, Arial, Helvetica;
	text-decoration-style: solid;
	border-bottom: 3px solid #ffed00;
}

.dropdown-menu {
	background-color: #ffed00;
	
}
.dropdown-item {
	color: #E60B0F;
}